#Par1
{
  background-color: #cd5d7d !important;
  text-decoration-color: underline
}
#Par2
{
  background-color: #f6ecf0 !important;

    font-style: bold ;
}
#Par3
{
  background-color: #a7c5eb !important ;

}
#Par4
{
  background-color:#949cdf !important;
  font-style: italic;
}
#Par3
{

  font-style: italic;
}
h1
{
  color: White;
  background-color: black;
}
h3
{
  color: Red;
    background-color: #ffd66b;
    font-style: italic;
}
body
{
  background-color: #a6a9b6;
}
.container {
  height: 50px;
  position: relative;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#button {
    display: block;
    width:150px;
    margin:10px auto;
    padding:7px 13px;
    text-align:center;
    background:maroon;
    font-size:20px;
    font-family: 'Arial', sans-serif;
    color:#ffffff;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
